
*{ text-align: center; }

img{ border-radius: 100px;}

img.male, button.male{
    border:3px solid black;
}

img.female, button.female{
    border:3px solid pink;
}

img{ width: 128px; height: 128px;}

button{
    border: 0px;
    padding: 10px;
    border-radius: 10px;
}